:root {
  --grid_cols: 1;
  --grid_rows: 1;
  --main_font: 'Goudy Old Style';

  /* Change this to change the appearance of the hexaons */
  --hex-width: 100px; 
  --hex-between: 5px;
  
  /* Other hexagon dimensions */
  --hex-height: calc(var(--hex-width) / 1.73 /* sqrt(3) */);
  --hex-margin: calc(var(--hex-width) / 2);
  --hex-border: calc(var(--hex-margin) / 1.73 /* sqrt(3) */);
  --hex-transition: all .2s ease;
  
  /* Colors */
  --color-hex-default: #000000;
  --color-hex-hover:   #FFFFFF;
  --txt_color: #203C47;
  --water_color: #2A989E;
  --labor_color: #7AD15E;
  --coin_color: #F4EB61;
  --building_materials_color: #E86F51;
  --back_color: #EFF3F4;
}

body {
  background-color: var(--back_color);
  color: var(--txt_color);
  font-family: var(--main_font);
}

h1 {
  text-align: center;
  font-size: 20;
}

table {
  text-align: center;
  border-spacing: 0px;
  border: 1px solid var(--txt_color);
}

th {
  border: 1px solid var(--txt_color);
  padding: 10px;
  padding-bottom: 1px;
  padding-top: 1px;
}

img {
  border: 3px solid var(--txt_color);
}

p {
  color: var(--back_color);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


#player_spot {
  display: inline-block;
}

#shop_div {
  display: inline-block;
  float: right;
}

/* Buildings container*/
/* absolute positioning to match board position */
svg {
    position: absolute;
    left: 5;
    top: 450;
    z-index: 1;
    pointer-events: none;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}

/* Hexagons */
/* absolute positioning to match buildings SVG position */
/* modified from https://codepen.io/ericornelissen/pen/vWbWKv */
#board {
  position: absolute;
  left: 5;
  top: 450;
  display: grid;
  grid-template-columns: var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width);
  grid-auto-rows: calc(var(--hex-width) - 28.87px/2);
  grid-gap: var(--hex-between) var(--hex-between);
  padding-bottom: var(--hex-border);
}
.hexagon {
  align-items: center;
  background-color: var(--color-hex-default);
  cursor: pointer;
  display: flex;
  fill: white;
  font-size: 20px;
  height: var(--hex-height);
  justify-content: center;
  margin: var(--hex-border) 0;
  position: relative;
  transition: var(--hex-transition);
  width: var(--hex-width);
}

.hexagon::after,
.hexagon::before {
  border-left: var(--hex-margin) solid transparent;
  border-right: var(--hex-margin) solid transparent;
  content: "";
  left: 0;
  position: absolute;
  transition: var(--hex-transition);
  width: 0;
}
.hexagon::after {
  border-top: var(--hex-border) solid var(--color-hex-default);
  top: 100%;
  width: 0;
}
.hexagon::before {
  border-bottom: var(--hex-border) solid var(--color-hex-default);
  bottom: 100%;
}
  
.hexagon:hover {
  background-color: var(--color-hex-hover);
}
.hexagon:hover::after,
.hexagon:hover::before {
  border-top-color: var(--color-hex-hover);
  border-bottom-color: var(--color-hex-hover);
}

/* shift every other row right to align */ 
.hexagon:nth-child(24n + 13),
.hexagon:nth-child(24n + 14),
.hexagon:nth-child(24n + 15),
.hexagon:nth-child(24n + 16),
.hexagon:nth-child(24n + 17),
.hexagon:nth-child(24n + 18),
.hexagon:nth-child(24n + 19),
.hexagon:nth-child(24n + 20),
.hexagon:nth-child(24n + 21),
.hexagon:nth-child(24n + 22),
.hexagon:nth-child(24n + 23),
.hexagon:nth-child(24n + 24) {
  margin-left: calc(var(--hex-width) / 2 + var(--hex-between) / 2);
}

/* Colors */
.color-red {
  background-color: var(--building_materials_color);
}
.color-red::after,
.color-red::before {
  border-top-color: var(--building_materials_color);
  border-bottom-color: var(--building_materials_color);
}
.color-red:hover {
  fill: var(--building_materials_color);
}

.color-yellow {
  background-color: var(--coin_color);
}
.color-yellow::after,
.color-yellow::before {
  border-top-color: var(--coin_color);
  border-bottom-color: var(--coin_color);
}
.color-yellow:hover {
  fill: var(--coin_color);
}

.color-green {
  background-color: var(--labor_color);
} 
.color-green::after,
.color-green::before {
  border-top-color: var(--labor_color);
  border-bottom-color: var(--labor_color);
}
.color-green:hover {
  fill: var(--labor_color);
}

.color-blue {
  background-color: var(--water_color);
}
.color-blue::after,
.color-blue::before {
  border-top-color: var(--water_color);
  border-bottom-color: var(--water_color);
}
.color-blue:hover {
  fill: var(--water_color);
}
